/** LSX Galleries styles. @package lsx-galleries */
@media (min-width: 768px) { #lsx-galleries-modal .modal-dialog { max-width: 992px; width: 100%; } }

#lsx-galleries-modal .modal-dialog .modal-title { text-align: center; }

.widget.lsx-galleries .tagline + .lsx-galleries-shortcode { margin-top: 0; }

.lsx-galleries-archive-link-wrap { position: relative; margin-top: 6rem; overflow: hidden; }

.lsx-galleries-archive-link { display: inline-block; position: relative; }

.lsx-galleries-archive-link:before, .lsx-galleries-archive-link:after { content: ''; display: block; height: 2px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 999rem; }

.lsx-galleries-archive-link:before { left: 120%; }

.lsx-galleries-archive-link:after { right: 120%; }

.lsx-galleries-shortcode { margin-top: -4rem; }

.lsx-galleries-slot, .lsx-galleries-slot-single { margin: 4rem auto 0; overflow: hidden; }

.lsx-galleries-slot .lsx-galleries-avatar > img, .lsx-galleries-slot-single .lsx-galleries-avatar > img { width: 100%; }

.lsx-galleries-slot .lsx-galleries-avatar > img.lazyload, .lsx-galleries-slot .lsx-galleries-avatar > img.lazyloading, .lsx-galleries-slot-single .lsx-galleries-avatar > img.lazyload, .lsx-galleries-slot-single .lsx-galleries-avatar > img.lazyloading { width: auto; }

.lsx-galleries-slot .lsx-galleries-title, .lsx-galleries-slot-single .lsx-galleries-title { margin: 0 0 1rem; }

.lsx-galleries-slot .lsx-galleries-categories, .lsx-galleries-slot-single .lsx-galleries-categories { font-size: 13px; }

.lsx-galleries-slot .lsx-galleries-categories, #home-widgets .lsx-galleries-slot .lsx-galleries-categories, .lsx-galleries-slot-single .lsx-galleries-categories, #home-widgets .lsx-galleries-slot-single .lsx-galleries-categories { margin-bottom: 1.2rem; }

.lsx-galleries-slot .lsx-galleries-meta, .lsx-galleries-slot-single .lsx-galleries-meta { font-size: 13px; }

#home-widgets .lsx-galleries-slot .lsx-galleries-meta, #home-widgets .lsx-galleries-slot-single .lsx-galleries-meta { margin-top: 0; }

.lsx-galleries-slot .lsx-galleries-content, .lsx-galleries-slot-single .lsx-galleries-content { margin-top: 2rem; }

.lsx-galleries-slot .lsx-galleries-content p, .lsx-galleries-slot-single .lsx-galleries-content p { margin-bottom: 0; }

.lsx-galleries-slot .lsx-galleries-content p + p, .lsx-galleries-slot-single .lsx-galleries-content p + p { margin-top: 2.4rem; }

.lsx-galleries-slot { background-color: #FFF; text-align: center; }

.lsx-galleries-slot .lsx-galleries-title { margin: 2.4rem 0 1rem; padding: 0 2rem; }

.lsx-galleries-slot .lsx-galleries-categories { padding: 0 2rem; }

.lsx-galleries-slot .lsx-galleries-meta { padding: 0 2rem; }

.lsx-galleries-slot .lsx-galleries-content { padding: 0 2rem; }

.lsx-galleries-slot .lsx-galleries-content .moretag { display: block; margin: 0 -2rem; padding: 1rem 0; text-align: center; transition: background 300ms ease; }

.lsx-galleries-slot .lsx-galleries-content .moretag:after { color: inherit; content: '\f178'; display: inline-block; font-family: 'FontAwesome'; font-size: inherit; margin-right: 5px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media (min-width: 992px) { .lsx-galleries-slider { margin-right: auto; margin-left: auto; width: 100%; }
  .lsx-galleries-slider.slick-has-arrows { width: calc(100% - 8rem); } }

@media (min-width: 1280px) { .lsx-galleries-slider { margin-right: -15px; margin-left: -15px; width: calc(100% + 30px); }
  .lsx-galleries-slider.slick-has-arrows { width: calc(100% + 30px); } }

.lsx-galleries-slider .lsx-galleries-slot.slick-slide { margin-right: 15px; margin-left: 15px; }

.lsx-galleries-slider .slick-dots { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin: 2rem 0 0; padding: 0; }

.lsx-galleries-slider .slick-dots > li { line-height: 1; padding: 5px; }

@media (min-width: 992px) { .lsx-galleries-slider .slick-dots > li { padding: 0 7.5px; } }

.lsx-galleries-slider .slick-dots > li > button { background: transparent; border-style: solid; border-width: 1px; font: 0/0 a; height: 12px; transition: all 300ms ease-in-out; width: 4rem; }

@media (min-width: 992px) { .lsx-galleries-slider .slick-dots > li > button { height: 6px; } }

.lsx-galleries-slider .slick-arrow { background: transparent; border-radius: 50%; border-style: solid; border-width: 2px; font: 0/0 a; height: 4rem; margin-top: calc((2rem - 17px) / 2); opacity: 1; padding: 0; position: absolute; text-shadow: none; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: border 300ms ease; width: 4rem; z-index: 3; }

.lsx-galleries-slider .slick-arrow:before { display: block; font-family: 'FontAwesome'; font-size: 3rem; line-height: 1; position: absolute; text-rendering: auto; top: 47%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: color 300ms ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.lsx-galleries-slider .slick-arrow.slick-disabled { cursor: not-allowed; }

.lsx-galleries-slider .slick-arrow.slick-prev { right: -4rem; }

.lsx-galleries-slider .slick-arrow.slick-prev:before { content: '\f104'; right: 1.1rem; }

.lsx-galleries-slider .slick-arrow.slick-next { left: -4rem; }

.lsx-galleries-slider .slick-arrow.slick-next:before { content: '\f105'; right: 1.5rem; }

.archive.post-type-archive-gallery .lsx-galleries-filter + .lsx-galleries-container, .archive.tax-gallery-category .lsx-galleries-filter + .lsx-galleries-container { margin-top: -4rem; }

.archive.post-type-archive-gallery .site-main, .archive.tax-gallery-category .site-main { margin: 0; width: auto; }

.archive.post-type-archive-gallery .nav-tabs, .archive.tax-gallery-category .nav-tabs { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; border-bottom: 0 none; margin: 0 0 4.25rem 0; padding-right: 0; }

.archive.post-type-archive-gallery .nav-tabs:before, .archive.post-type-archive-gallery .nav-tabs:after, .archive.tax-gallery-category .nav-tabs:before, .archive.tax-gallery-category .nav-tabs:after { display: none; }

@media (min-width: 768px) { .archive.post-type-archive-gallery .nav-tabs, .archive.tax-gallery-category .nav-tabs { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; } }

.archive.post-type-archive-gallery .nav-tabs > li, .archive.tax-gallery-category .nav-tabs > li { margin-bottom: 0; width: 100%; }

@media (min-width: 768px) { .archive.post-type-archive-gallery .nav-tabs > li, .archive.tax-gallery-category .nav-tabs > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; max-width: 350px; } }

@media (min-width: 768px) { .archive.post-type-archive-gallery .nav-tabs > li + li, .archive.tax-gallery-category .nav-tabs > li + li { margin-right: 5px; } }

.archive.post-type-archive-gallery .nav-tabs > li > a, .archive.tax-gallery-category .nav-tabs > li > a { border: 0 none; border-radius: 0; font-size: 16px; margin: 0; padding: 1rem 0; text-align: center; transition: all 300ms ease; }

@media (min-width: 768px) { .archive.post-type-archive-gallery .nav-tabs > li > a, .archive.tax-gallery-category .nav-tabs > li > a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media (min-width: 992px) { .archive.post-type-archive-gallery .nav-tabs > li > a, .archive.tax-gallery-category .nav-tabs > li > a { font-size: 22px; background-color: #fff; } }

.archive.post-type-archive-gallery .nav-tabs > li.active > a, .archive.tax-gallery-category .nav-tabs > li.active > a { border: 0 none; position: relative; background-color: #418AD0; color: #fff; }

@media (min-width: 768px) { .archive.post-type-archive-gallery .nav-tabs > li.active > a:after, .archive.tax-gallery-category .nav-tabs > li.active > a:after { content: ''; border-style: solid; border-width: 0 6px 6px 6px; bottom: 0; height: 0; right: 50%; position: absolute; -webkit-transform: translateX(50%); transform: translateX(50%); width: 0; } }

@media (min-width: 768px) and (min-width: 992px) { .archive.post-type-archive-gallery .nav-tabs > li.active > a:after, .archive.tax-gallery-category .nav-tabs > li.active > a:after { border-width: 0 9px 9px 9px; border-color: transparent transparent #f6f6f6 transparent; } }
