@mixin customizer-galleries-link-colour ($color: #418AD0, $hover: #F7AE00) {
	&,
	&:active,
	&:visited {
		color: $color;
	}

	&:hover,
	&:hover:active,
	&:focus {
		color: $hover;
	}
}

@mixin customizer-galleries-body-colours($bg: #F6F6F6, $breaker: #DADDDF, $color: #4A4A4A, $link: #418AD0, $hover: #F7AE00, $small: #919191) {
	.widget.lsx-galleries {
		.lsx-galleries-archive-link {
			&:before,
			&:after {
				background-color: $breaker;
			}
		}
	}

	.lsx-galleries-slot,
	.lsx-galleries-slot-single {
		.lsx-galleries-categories > a:not(.btn) {
			@include customizer-galleries-link-colour($small, $hover);
		}

		.lsx-galleries-meta { color: $small; }

		.lsx-galleries-title > a:not(.btn) {
			@include customizer-galleries-link-colour($color, $hover);
		}
	}

	.lsx-galleries-slot {
		.lsx-galleries-content {
			a:not(.btn).moretag {
				background-color: $link;
				color: #FFF;

				&:hover {
					background-color: $hover;
					color: #FFF;
				}
			}
		}
	}

	.archive.post-type-archive-gallery,
	.archive.tax-gallery-category {
		.nav-tabs {
			& > li {
				& > a {
					background-color: #FFF;

					&:hover { background-color: #FFF; }
				}

				&.active > a {
					background-color: $link;
					color: #FFF;

					&:after { border-color: transparent transparent $bg transparent; }
				}
			}
		}
	}
}
